/* LOGIN PAGE */

/* Page background */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at top,
    #0f1c2f,
    #060b17
  );
}

.password-field {
  position: relative;
  width: 93%;
}

.password-field input {
  width: 100%;
  padding-right: 42px; /* space for eye */
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  opacity: 0.7;
}

.toggle-password:hover {
  opacity: 1;
}


/* Card */
.auth-card {
  width: 380px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Title */
.auth-title {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 6px;
}

/* Subtitle */
.auth-subtitle {
  color: #9aa4bf;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Inputs */
.auth-form input {
  background: #0e1628;
  border: 1px solid #1e2a44;
  color: #fff;
  padding: 12px 14px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.auth-form input:focus {
  border-color: #3fc1ff;
}

/* Button */
.auth-btn {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(135deg, #3fc1ff, #4aa3ff);
  color: #001018;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.auth-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(63, 193, 255, 0.35);
}

/* Toggle */
.auth-toggle {
  margin-top: 18px;
  font-size: 14px;
  color: #3fc1ff;
  cursor: pointer;
}

.auth-toggle:hover {
  text-decoration: underline;
}

